@tailwind base;
@tailwind components;
@tailwind utilities;

/* Maax font */
@font-face {
    font-family: "Maax";
    src: url("../assets/fonts/Maax-Regular.woff2") format("woff2"),
        url("../assets/fonts/Maax-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* BHF Beats font */
@font-face {
    font-family: "BHF Beats";
    src: url("../assets/fonts/BHFBeats-Bold.woff2") format("woff2"),
        url("../assets/fonts/BHFBeats-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html {
        @apply scroll-smooth;
    }

    body {
        @apply text-mlf-purple;
    }

    html,
    p {
        font-family: "Maax";
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "BHF Beats";
    }

    h1 {
        @apply text-4xl lg:text-6xl leading-tight lg:leading-tight text-mlf-purple;
    }

    h2 {
        @apply text-3xl lg:text-5xl leading-tight lg:leading-tight text-mlf-purple;
    }

    h3 {
        @apply text-xl lg:text-3xl leading-tight lg:leading-tight text-white;
    }

    p {
        @apply text-base lg:text-lg;
    }

    button {
        @apply rounded-full w-40 flex justify-center items-center text-center bg-mlf-bright-pink border-2 border-mlf-bright-pink py-3 text-mlf-purple text-lg hover:bg-transparent hover:text-mlf-purple hover:border-mlf-bright-pink transition duration-200;
    }

    button.dark-button {
        @apply rounded-full w-40 flex justify-center items-center text-center bg-mlf-bright-pink border-2 border-mlf-bright-pink py-3 text-mlf-purple text-lg hover:bg-transparent hover:text-mlf-bright-pink hover:border-mlf-bright-pink transition duration-200;
    }

    button.light-button {
        @apply rounded-full w-40 flex justify-center items-center text-center bg-mlf-bright-pink border-2 border-mlf-bright-pink py-3 text-mlf-purple text-lg hover:bg-transparent hover:text-mlf-bright-pink hover:border-mlf-bright-pink transition duration-200;
    }

    .white-button {
        @apply rounded-full w-40 flex justify-center items-center text-center bg-white border-2 border-white py-3 text-mlf-pink text-lg hover:bg-transparent hover:text-white hover:border-white transition duration-200;
    }
}

.slick-dots {
    @apply flex flex-wrap items-center justify-end mt-8;
}

.slick-dots li button {
    @apply border border-mlf-pink rounded-full mx-1.5 h-6 w-6 text-[0];
}

.slick-dots .slick-active button {
    @apply bg-mlf-pink;
}

.swiper {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .swiper {
        width: 75%;
        height: 700px;
    }
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    max-height: 700px;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-active {
    height: 50px !important;
    width: 50px !important;
}

.swiper-button-next {
    right: 10px !important;
}

@media screen and (min-width: 1024px) {
    .swiper-button-next {
        right: 40px !important;
    }
}

.swiper-button-prev {
    left: 10px !important;
}

@media screen and (min-width: 1024px) {
    .swiper-button-prev {
        right: 40px !important;
    }
}

.swiper-button-next::after,
.swiper-button-prev::after,
.swiper-button-active::after {
    font-size: 25px !important;
    font-weight: 700 !important;
    @apply text-mlf-bright-pink;
}

.pink-gradient {
    background-image: url("../assets/images/pink-gradient-right.svg");
    @apply bg-contain bg-no-repeat bg-right;
}

.left-gradient {
    background-image: url("../assets/images/pink-gradient-right.svg");
    transform: scaleX(-1);
    @apply bg-cover bg-no-repeat bg-left;
}

.logo-invert {
    filter: brightness(0) invert(1);
}

/* .gradient-bottom {
    background: rgb(255, 57, 139);
    background: radial-gradient(
        circle at center bottom,
        rgba(255, 57, 139) 0%,
        rgb(255, 57, 139) 3%,
        rgba(20, 23, 64) 35%,
        rgba(20, 23, 64) 100%
    );
} */

/* .gradient-bottom {
    background: rgb(255, 57, 139);
    background: radial-gradient(
        circle at center bottom,
        rgba(255, 57, 139) 0%,
        rgb(255, 57, 139) 3%,
        rgb(255, 174, 215) 35%,
        rgb(255, 174, 215) 100%
    );
} */

.gradient-bottom {
    background: rgb(255, 57, 139);
    background: radial-gradient(
        circle at center bottom,
        rgb(255, 174, 215) 0%,
        rgb(255, 174, 215) 3%,
        rgb(255, 57, 139) 35%,
        rgb(255, 57, 139) 100%
    );
}
